.App {
    background-color: rgb(65, 113, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(65, 185, 81);
}

.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.imageCart {
    width: 80px;
    height: auto;
    border:rgb(253, 7, 7);
}

/*Animation*/
.anim-typewriter {
    display: block;
    font-family: cursive;
    color: rgb(251, 12, 120);
    white-space: nowrap;
    border-right: 4px solid;
    width: 35ch;
    font-size: 30px;
    animation: typing 6s steps(35) infinite, blink 3s infinite step-end alternate ;
    overflow: hidden;
}


@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    2% {
        border-color: rgb(255, 255, 255);
    }
}


.container-title {
    width: 100%;
    text-align: center;
    flex-direction:row;
    font-weight: bold;
    color: rgb(255, 254, 253);
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-increase, .btn-decrease, .btn-add {
    background: gray;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin: 5px;
}

.btn-increase:hover {
    background: rgb(3, 143, 3);
    color: rgb(178, 255, 24);
}

.btn-decrease:hover {
    background: rgb(253, 7, 7);
    color: rgb(178, 255, 24);
}
.count-product {
    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    background-color: rgb(75, 255, 4);
    box-shadow: rgb(0, 0, 0);
    color:rgb(0, 28, 121);
    text-align: center;
}
.count-stock {
    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    background-color: rgb(75, 255, 4);
    box-shadow: rgb(0, 0, 0);
    color:rgb(0, 28, 121);
    text-align: center;
}